@import './variables';
@import './mixins';

@import './animations.scss';

body {
  margin: 0;
  font-family: $primary-font;
  box-sizing: border-box;
  background: $body-bg;
  color: $primary-color;
}

main {
  min-height: calc(100vh - 215px);
  display: flex;
  margin-top: 155px;
}

h3 {
  font-size: 18px;
  font-weight: bold;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: $link-color;
}

button {
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}
