@import '../../styles/variables';
@import '../../styles/mixins';

.header {
  position: fixed;
  top: 0;
  z-index: 99;
  background: $nav-bg;
  width: 100%;
  @include transition($delay: 0.2s);

  &--with-shadow {
    box-shadow: 0 4px 10px -3px $border-red;
    margin-top: -2px;
  }

  &__container {
    height: 60px;
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    height: 100%;
    cursor: pointer;

    img {
      height: 100%;
    }
  }

  .navbar {
    background: $nav-bg;

    &__list {
      display: flex;
      justify-content: space-between;
      height: 100%;
    }

    &__list-item {
      height: 100%;
    }

    &__link {
      color: $link-color;
      text-decoration: none;
      padding: 0 20px;
      height: 100%;
      @include transition();
      display: flex;
      align-items: center;

      &:hover {
        color: $link-hover-color;

        .navbar__basket-icon {
          fill: $icon-hover-color;
        }
      }
    }

    &__link--active {
      background: $link-active-bg;
      color: $link-active-color;

      .navbar__basket-icon {
        fill: $icon-active-color;
      }
    }

    &__basket-icon {
      fill: $icon-default-color;
      width: 28px;
      height: 28px;
      @include transition($delay: 0.2s);
    }

    &__cart-items-amount {
      font-size: 14px;
      position: relative;
      top: 5px;
    }
  }
}
