@import '../../styles/variables';
@import '../../styles/mixins';

.footer {
  background: $footer-bg;

  &__container {
    font-size: $footer-font-size;
    height: 60px;
    display: flex;
    justify-content: space-between;
  }

  &__text {
    display: flex;
    align-items: center;
    p {
      margin: 0;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    height: 100%;
  }

  &__list-item {
    height: 100%;
  }

  &__link {
    color: $link-color;
    text-decoration: none;
    padding: 0 20px;
    height: 100%;
    @include transition(color);
    display: flex;
    align-items: center;
    margin: 0 5px;

    &:hover {
      color: $link-hover-color;
    }
  }

  &__link--active {
    background: $link-active-bg;
    color: $link-active-color;
  }
}
