@import '../../styles/variables';
@import '../../styles/mixins';

.cart {
  position: relative;

  &__empty-cart-info {
    position: absolute;
    width: 100%;
    text-align: center;

    @include media-breakpoint-down(lg) {
      width: calc(100% - 30px);
    }
  }

  &__content {
    margin-bottom: 50px;
    background: $primary-color;
    border-radius: 3px;
    padding: 20px 30px;

    @include media-breakpoint-down(lg) {
      margin-bottom: 0;
    }

    @include media-breakpoint-down(xs) {
      padding: 20px 10px;
    }
  }

  &__checkout {
    background: $primary-color;
    border-radius: 3px;
    padding: 20px 45px;
    color: $cart-font-color;

    @include media-breakpoint-down(lg) {
      margin-top: 40px;
      margin-bottom: 40px;
      padding: 20px 20px;
    }
  }

  &__checkout-header {
    margin-top: 25px;
    border-bottom: 1px solid $border-grey;
  }

  &__order-value-details {
    width: 70%;

    @include media-breakpoint-down(xs) {
      width: 100%;
    }
  }

  &__checkout-paragraph {
    display: flex;
    justify-content: space-between;

    span {
      font-weight: bold;
      text-align: right;
    }
  }

  &__checkout-button-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }

  &__discount-input {
    font-size: 16px;
    padding: 10px 14px;
    border-radius: 5px;
    outline: none;
    width: 100%;
    text-align: center;
    border: 1px solid $button-border-3-color;

    &:focus {
      box-shadow: 0 0 2px 2px $input-focus-shadow;
    }
  }

  &__checkout-button {
    font-size: 16px;
    padding: 10px 15px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid $button-border-3-color;
    cursor: pointer;

    &--submit {
      background: $button-bg-secondary;
      color: $button-font-color;

      &:disabled {
        background: lighten($color: $button-bg-secondary, $amount: 30);
      }
    }

    &--discount {
      margin-bottom: 15px;
      background: $button-bg-optional;
      color: $button-font-color-secondary;

      &:disabled {
        background: lighten($color: $button-bg-optional, $amount: 30);
        color: lighten($color: $button-font-color-secondary, $amount: 30);
      }
    }
  }
}
