// colors
$body-bg: #283946;
$nav-bg: #04070b;
$footer-bg: #04070b;

$primary-color: #fff;

$link-color: #fff;
$link-hover-bg: #283946;
$link-hover-color: #df2021;
$link-active-bg: #283946;
$link-active-color: #df2021;
$icon-default-color: #df2021;

// fonts
$primary-font: 'Open Sans', sans-serif;
$footer-font-size: 12px;

// transitions
$transition: all 0.1s ease-out;
