// colors
$body-bg: #212329;
$nav-bg: #04070b;
$footer-bg: #04070b;
$product-card-bg: #04070b;

$primary-color: #fff;

$link-color: #fff;
$link-hover-bg: #283946;
$link-hover-color: #df2021;
$link-active-bg: #212329;
$link-active-color: #df2021;

$icon-default-color: #fff;
$icon-hover-color: #df2021;
$icon-active-color: #df2021;

$button-bg: #212329;
$button-font-color: #fff;
$button-hover-color: #df2021;
$button-border-color: #df2021;

// fonts
$primary-font: 'Open Sans', sans-serif;
$footer-font-size: 12px;
