@import '../../styles/variables';

.sort-menu {
  padding-bottom: 10px;
  border-bottom: 1px solid $primary-color;

  &__header {
    margin-top: 3px;
    margin-bottom: 21px;
  }

  &__option {
    font-size: 15px;
    margin: 10px 0;
    cursor: pointer;

    &:hover {
      color: $link-hover-color;
    }
    &--active {
      color: $link-active-color;
    }
  }
}
