@import '../../../styles/variables';
@import '../../../styles/mixins.scss';

.checkout-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: $modal-bg;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;

  &__header {
    border-bottom: 1px solid $border-grey;
  }

  &__content {
    background: $primary-color;
    color: $cart-font-color;
    position: relative;
    padding: 30px;
    border-radius: 5px;
  }

  &__close-button {
    position: absolute;
    top: -9px;
    right: -9px;
    height: 30px;
    width: 30px;
    font-weight: bold;
    font-size: 18px;
    background: $button-bg-secondary;
    color: $button-font-color;
    border-radius: 50%;
    @include transition();
    cursor: pointer;

    &:hover {
      color: $cart-font-color;
    }
  }

  &__text {
    span {
      font-weight: bold;
    }
  }

  &__pay-button {
    font-size: 16px;
    padding: 10px 15px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid $button-border-3-color;
    cursor: pointer;
    width: 100%;
    background: $button-bg-secondary;
    color: $button-font-color;
  }
}
